{% extends 'base.html.twig' %}

{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur cum cumque dolor dolore
        doloremque et mollitia nihil nisi nulla, officia pariatur quae quam quibusdam rem sunt temporibus vero
        voluptas?
    </div>
    <div>Architecto culpa deleniti ea eaque eius excepturi ipsam ipsum iste itaque, magnam nam nemo nisi, nobis
        quidem rem repudiandae sunt tempora! Atque eaque enim hic id magni placeat quibusdam vero.
    </div>
    <br>
    <br>
{% endblock %}





